<div class="column-layout_6 column">
  <igx-navbar class="navbar">
    <div igxNavbarAction class="column-layout_1 column">
      <igx-icon font="material" [active]="true" class="icon_1">menu</igx-icon>
    </div>
    <div igxNavbarTitle>Viewing David Cardale</div>
    <div class="column-layout_5 column">
      <igx-icon font="material" [active]="true" class="icon_1">add</igx-icon>
    </div>
  </igx-navbar>
  <div class="row-layout row">
    <div class="column-layout_2 column">
      <igx-list class="list">
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Name</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Adam Thiel</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Amanda Cruz</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Peter Cologne</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Veronica Christensen</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Anne Marie Ferguson</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Jayden Christopher</h4>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="column-layout_3 column">
      <div class="column-layout_7 column">
        <div class="row-layout_1 row">
          <div class="column-layout_8 column">
            <div class="row-layout_3 row">
              <div class="column-layout_4 column">
                <igx-avatar initials="NA" icon="people" bgColor="var(--igx-grays-400)" [roundShape]="true" size="large" class="avatar"></igx-avatar>
                <igx-badge type="primary" value="65" class="badge"></igx-badge>
              </div>
            </div>
            <div class="row-layout_2 row">
              <p class="text">Name</p>
              <div class="column-layout column">
                <igx-badge type="primary" value="Admin" class="badge_1"></igx-badge>
              </div>
            </div>
            <p class="igx-typography__body-2 text_1">Gender - Birthdate</p>
          </div>
        </div>
        <button igxButton="fab" type="fab" [disabled]="false" class="button">
          <igx-icon class="icon">edit</igx-icon>
        </button>
      </div>
    </div>
  </div>
</div>
